<style>
    .portpholio{
    text-align: center;
}
</style>
<div>
    
    <h2 class="portpholio ">Welcome to My Portfolio!</h2>

    <button class="portpholio " routerLink="/register">Register</button>
    <button class="portpholio " routerLink="/login">Login</button>
    <button class="portpholio " routerLink="/projects">Projects</button>
    <button class= "portpholio " routerLink="/about">About Us</button>
    <button class= "portpholio " routerLink="/contact">Contact</button>
    
    
   

  </div>
  
